/* ----------css used in all section---------- */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
body {
  font-family: "Cinzel", serif;
  color: #e0e1dd;
}

.default-font {
  font-family: "Cinzel", serif;
}

.white-text {
  color: #e0e1dd;
}

.layout-transparent {
  background-color: #091945;
}

.layout-transparent .mdl-layout__header {
  background-color: #415a77;
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
  color: #e0e1dd;
}

.material-icons.md-light {
  color: #e0e1dd;
}

.material-icons.md-light.md-inactive {
  color: #e0e1dd;
}

.map-style {
  box-sizing: border-box;
  border-radius: 0.6em;
  padding: 0.8em 0.8em 0.8em 0.8em;
  color: #001b2a;
}

.headerpage {
  text-decoration: none;
}
/* ----------index.html section---------- */
/* Create a Parallax Effect */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 2px solid;
  white-space: nowrap;
  margin: 0 auto;
  user-select: none;
  border-radius: 0.2em;
  background-color:  #fdb745;
  font-size: 64px;
  color: #e0e1dd;

  animation: typing 3.6s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}


/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("https://images.pexels.com/photos/3088778/pexels-photo-3088778.jpeg?cs=srgb&dl=pexels-elijah-o%27donnell-3088778.jpg&fm=jpg");
  min-height: 40%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1{
    background-attachment: scroll;
    min-height: 400px;
  }
}

.container {
  height: 1100px;
  width: 98%;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 100px auto;
  grid-gap: 10px 5px;
  margin-right: auto;
  margin-left: auto;
  grid-template-areas:
    "info map";
}

.info {
  height: 100%;
  color: #e0e1dd;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: #001b2a;
  grid-template-rows: 100px auto auto;
  grid-gap: 10px 5px;
  grid-template-areas:
    "info"
    "selected"
    "filter";
}

.theme-color-2 {
  background-color: #1b263b;
}

.board {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  white-space: normal;
  padding: 2%;
}

.board-1 {
  border-bottom: 1px solid #aaa;
  height: auto;
  overflow-x: auto;
  background: #ffffff;
  color: #000000;
}

.board-2 {
  border: 1px solid #aaa;
  background: #e5e5e5;
  overflow-y: scroll;
  min-height: 2%;
  max-height: 500px;
  margin-top: 1px;
  border-bottom-left-radius: 1em;
}

#info {
  margin-top: 4px;
  margin-left: 4px;
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#categoryInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #fca311;
}
#categoryInput:hover {
  background-color: #f8ba56;
}

button {
  background-color: #e5e5e5;
  border: 1px solid white;
}

.collapsible {
  background-color: #e5e5e5;
  color: white;
  cursor: pointer;
  margin-top: 2px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #e5e5e5;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #e5e5e5;
}

.filter-button {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-top: 1px;
}
/* 
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:
  width: 100px;
  height: 100px;
}
 */

 .img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}