.home {
  display: grid;
  grid-template-areas: "map selection";
  grid-template-columns: auto 15%;
}
#map {
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.6em;
  margin-bottom: 10px;
  padding: 0.8em 0.8em 0.8em 0.8em;
}
.checkbox-style {
  height: 600px;
  border: 1px solid #aaa;
  padding-top: 10px;
  box-sizing: border-box;
  margin-left: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: #dde0e1;
}
